[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
  REACT_APP_API_URL = "https://backend-production-c4b0.up.railway.app/api"
